<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="DRFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <File>logs/udp-kafka-bridge.log</File>
    <encoder>
      <pattern>%d{dd.MM.yyyy HH:mm:ss} %-5p [%t] %c{1} - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/udp-kafka-bridge.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>
  
  <root level="INFO">
    <appender-ref ref="DRFA"/>
  </root>
</configuration>
